/CMakeLists.txt
/.idea/
/cmake-build-debug/CMakeFiles/3.17.5/
/cmake-build-debug/CMakeFiles/FindAndReplace.dir/
/cmake-build-debug/CMakeFiles/
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/FindAndReplace.cbp
/cmake-build-debug/Makefile
